<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= _.capitalize(projectName) %></title>

    <link rel="stylesheet" href="assets/css/styles.css">

    <!-- Detect Javascript -->
    <script>document.documentElement.className = document.documentElement.className.replace("no-js","js");</script>

    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script type="text/javascript" src="assets/js/main.js"></script>
  </head>
  <body lang="en">
    <header role="banner" class="header">
      <div class="l-container">
        <p>Header content</p>
      </div>
    </header>
    <main class="main" role="main">
      <div class="l-container">
        <h1>Main content</h1>
        <p>Elit voluptas quam voluptatum voluptatem sunt odio nobis officia repudiandae aliquam quod. Recusandae molestias possimus in alias eaque, nesciunt obcaecati praesentium est nobis! Iste aspernatur reiciendis eos inventore consequatur perspiciatis?</p>
      </div>
    </main>
    <footer class="footer" role="contentinfo">
      <div class="l-container">
        <p>Footer content</p>
      </div>
    </footer>
    <script src="http://localhost:35729/livereload.js"></script>
  </body>
</html>
