// Colors

$link-color: #3476af;
$link-disabled: #dedede;

// Fonts

$heading-font: "Helvetica Neue", Helvetica, Arial, sans-serif; // TODO: Default to Helvetica for now, to be changed later
$sans-serif-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif-font: Georgia, Times, "Times New Roman", serif;

// Layout

$l-max-width: 60em;
